/*Styles for my website!*/

#maincontent{
    width:70vw;
    position:relative;
    left:13vw;  /* (100 - 70)/2 - 2 = 13 */
    background-color:white;
    padding:1vw 2vw; /*top: 1vw, left: 1vw*/
  }

#profileimage{
    width: 300px;  /*might want to change this to vw later*/
    height: 300px;
    margin-left: 3vw;
    margin-right: 3vw;
}

.littletable tr td{
    padding-left: 1em;
}

#bigtable td{
    padding-top: 0em;
}

#homelink{
    float:right;
}

body{
    background-color: #e0efff;
}



h1{
    margin-bottom: 0em;
}

h2{
    margin-bottom: 0em;
}

h3{
    margin-bottom: 0.5em;
}

/*Resume Page*/
.resumeitem{
    margin-bottom:0.5em;
    padding-left: 1em;
    width: 100%;
}

.resumeitem tr{
    width: 100%;
}

.resumeitem tr td{
    padding-left: 1em;
}

.resumeitem tr th{
    text-align: left;
}

.name{
    width: 55%;
}

.place{
    width:20%
}

.date{
    width:25%;
}

.pictures{
  width: 40vw;
  margin: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
